<div class="signin-content">

  <mat-card>
    <mat-card-content>
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      ><p>Register here</p>
        <mat-form-field class="full-width-input">
          <label for="username">Username</label>
          <input
            matInput
            type="text"

            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <mat-error *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <label for="email">Email</label>
          <input
            matInput
            type="email"

            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <mat-error *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address<div class="signin-content">
            </div>
            </div>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width-input">
          <label for="password">Password</label>
          <input
            matInput
            type="password"

            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <mat-error *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </mat-error>
        </mat-form-field>
        <div class="form-group">
          <button mat-raised-button color="primary">Sign Up</button>
        </div>

        <mat-error *ngIf="f.submitted && isSignedUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </mat-error>
      </form>

      <mat-hint *ngIf="isSuccessful">
        Your registration is successful!
      </mat-hint>

    </mat-card-content>
  </mat-card>
</div>
