<div class="page">
  <div class="profile">
    <div class="profile-background"></div>
    <div class="profile-contents">
      <div class="profile-header">
        <svg class="profile-header__icon" width="10rem" height="10rem" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="50" fill="#FEB692"></circle>
        </svg>

        <h1 class="profile-header__text">{{currentUser.username}}</h1>
      </div>
      <div class="profile-info">
        <div class="profile-info-data">
          <div class="profile-info-data__name">e-mail</div>
          <div class="profile-info-data__number">{{currentUser.email}}</div>
        </div>
        <div class="profile-info-data">
          <div class="profile-info-data__name">ID</div>
          <div class="profile-info-data__number">{{currentUser.id}}</div>
        </div>
        <div class="profile-info-data">
          <div class="profile-info-data__name">Roles</div>
          <div class="profile-info-data__number">{{currentUser.roles}}</div>
        </div>
      </div>
    </div>

  </div>
</div>