<div id="container">
    <aside>
     <header>
    {{ currentUser.username }}


    </header>

      <section *ngIf="currentUser" class="create-room">
        <h4 *ngIf="existChatRoomWithThisName">
          Exist ChatRoom with this name! Try again.
        </h4>
        <form (ngSubmit)="createnewChatRoom()">
          <input  type="text" [(ngModel)]="newChatRoom" name="room-name" id="room-name" placeholder="Create a new ChatRoom">
        </form>
      </section>
    <ul  *ngIf="currentRoom">
      <li *ngFor="let data of allChatRooms">

          <h3 [class.active]="currentRoom.id === data.id" (click)="joinToSelectedRoom(data.id)" > {{data.chatName}}</h3>

      </li>



    </ul>



    </aside>
      <main>
        <header>

			<div >
				<h2>{{currentRoom.chatName}}</h2>

			</div>

		</header>

    <ul id="chat" *ngIf="currentUser" >

        <div  *ngFor="let message of messages">
          <li [ngClass]="{'me': message.senderName == currentUser.username, 'you':message.senderName != currentUser.username }"  >
				<div class="entete">
					<span class="status green"></span>
					<h2>{{ message.senderName }}</h2>
          <br>
          <h3>{{ message.timestamp | date: 'short' }}</h3>

				</div>
				<div class="triangle"></div>
				<div class="message">
          {{message.content}}
          <a *ngIf="message.filePath" href="{{message.filePath}}" > <img width="300px" height="150px" src="{{message.filePath}}">  </a>
				</div>

      </li>
        </div>
<!--      <li  *ngFor="let message of messages">-->
<!--				<div class="entete">-->
<!--					<span class="status green"></span>-->
<!--					<h2>{{ message.senderName }}</h2>-->
<!--				</div>-->
<!--				<div class="triangle"></div>-->
<!--				<div class="message">-->
<!--          {{message.content}}-->
<!--				</div>-->
<!--      </li>-->
    </ul>
        <!-- <footer *ngIf="currentUser" class="chat-footer">


          <div class="images">

            <form>
              <input type="file" (change)="onSelectFile($event)">
              <br>
              <br>
              <button  type="button" (click)="performUpload()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
            </form>

          </div>

          <form class="message-form" enctype="multipart/form-data" (ngSubmit)="sendMessage()"> <input
            class="message-form"
            type="text"
            placeholder="Type a message. Pres Enter to send"
            name="message"
            [(ngModel)]="newMessage"> <input type="file" (change)="onSelectFile($event)">

          </form>
        </footer>
 -->




		<footer *ngIf="currentUser">
			<form enctype="multipart/form-data" (keyup.enter)="sendMessage()">
        <textarea
        type="text"
        placeholder="Type a message. Pres Enter to send"
        name="message"
        [(ngModel)]="newMessage">


  </textarea>
	</form>
  <form>
    <input type="file" (change)="onSelectFile($event)">

    <button  type="button" (click)="performUpload()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
    </form>

			<button mat-button class="primary"  (click)="sendMessage()">Send</button>
		</footer>
      </main>
  </div>
